body {
    background-color: #1b1235;
    color: #f0ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

a,
span,
button,
div {
    font-size: 3vh;
    font-family: "Tiny5", serif;
}

.mainCard {
    width: 40vh;
    height: auto;
    text-align: center;
    background-color: #23263e;
    padding: 5vh 7vh;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
}



a {
    color: #d800f9;
    text-decoration-line: none;
    transition: 0.3s;
}

a:hover {
    color: #f0ffff;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 2vh;
    margin-top: 5vh;
}

button {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 3vh;
    font-weight: 800;
    color: #00074f;
    background-color: #d297ff;
    border-radius: 15px;
    width: 20vh;
    height: 5vh;
    margin: 5vh auto 0 auto;
    transition: 0.3s;
}

button:hover {
    box-shadow: 0 0 0 2px rgba(249, 0, 224, 0.7);
    background-color: #feecfe;
    color: #2a1126;
}